<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="user.username" value="ENTER THE USERNAME HERE"/>
    <add key="user.password" value="ENTER THE PASSWORD HERE"/>
    
    <add key="aad.clientId" value="ENTER THE CLIENT ID HERE"/>
    <add key="aad.clientSecret" value="ENTER THE CLIENT SECRET HERE"/>
    <add key="aad.tenantId" value="ENTER THE TENANT ID HERE"/>
    <add key="aad.loginUrl" value="https://login.microsoftonline.com/"/>

    <add key="powerbi.baseUrl" value="https://api.powerbi.com/v1.0"/>
    <add key="powerbi.resourceUrl" value="https://analysis.windows.net/powerbi/api"/>
    <add key="powerbi.api.datasets.list" value="/{0}/datasets"/>
    <add key="powerbi.api.datasets.get" value="/{0}/datasets/{1}"/>
    <add key="powerbi.api.admin.groups" value="/{0}/admin/groups"/>
  </appSettings>
</configuration>